/* source: https://github.com/rstudio/shiny-examples/blob/master/063-superzip-example/styles.css */

input[type="number"] {
  max-width: 80%;
}

.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

.closeopen {
  position: absolute;
  right: 15px;
  top: 0;
  background: white;
  border: none;
  margin: 0;
  padding: 0;
}


#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}